<h1>Welcome</h1>
<p>Please click on button for getting File value</p>
<button id="submit">Get Random value</button>
<p>Result : </p>
<hr>
<p id="result"></p>

<script type="text/javascript">
  $("#submit").click(function() {
  $("#result").empty();
  $.ajax({
    type: "GET",
    url: "/import_file",
    dataType: "json",
      success: function (data) {
        $("#result").append(data["response"]);
      }
    });
});
</script>
